.canvas {
  cursor: crosshair;
  background:cornsilk;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  font-size: 0.85rem;
  height:calc(100vh - 2rem);
  width:calc(100vw - 2rem);
  font-family: var(--font-mono);
  border-radius: var(--border-radius);
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
